<div class="c-contact-fab">
  <svg
    class="c-contact-fab__text"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 500 500">
    <defs>
      <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
    </defs>
    <text dy="70" textLength="1240">
      <textPath xlink:href="#textcircle">
        start your — project — get in touch —
      </textPath>
    </text>
  </svg>
</div>
