<footer
  class="c-footer"
>
  <div class="c-footer__inner">
    <h2 class="c-footer__contact u-heading-huge">
      <span class="u-text-outline">have an idea?</span>
      <a href="/contact">
        get in touch
      </a>
    </h2>
    <div class="c-line c-line--light"></div>
    <div class="c-footer__menu u-heading-huge">
      <img
        class="c-footer__logo"
        src="/images/logo-glyph.svg"
      >
      {% set navPages = collections.all | eleventyNavigation %}

      {% for entry in navPages %}
          <a
            class="c-nav__menu-link"
            {% if entry.url == page.url %} class="c-nav-menu__link active"{% endif %}
            href="{{ entry.url | url }}"
          >
            {{ entry.title }}
          </a>
      {% endfor %}
      <div class="c-nav__social">
        <a
          class="c-nav__social-link"
        >
          <img src="/icon/social/instagram.svg">
        </a>
        <a
          class="c-nav__social-link"
        >
          <img src="/icon/social/twitter.svg">
        </a>
        <a
          class="c-nav__social-link"
        >
          <img src="/icon/social/facebook.svg">
        </a>
      </div>

    <div>
  </div>

  <div class="c-footer__background" id="c-footer__background">
  </div>

</footer>