<nav
  class="c-nav-menu"
>
  <div class="c-nav-menu__animation">
  </div>

  <div class="c-nav-menu__inner">

    <div class="c-nav-menu__background">
    </div>

    {% set navPages = collections.all | eleventyNavigation %}

    {% for entry in navPages %}
        <a
          {% if entry.url == page.url %} class="active"{% endif %}
          class="c-nav-menu__link"
          href="{{ entry.url | url }}"
        >
          {{ entry.title }}
        </a>
    {% endfor %}

  </div>


</nav>
