<nav
  class="c-nav-menu"
>
  <div class="c-nav-menu__animation">
  </div>

  <div class="c-nav-menu__inner">
    <a class="c-nav-menu__link">Link</a>
    <a class="c-nav-menu__link">Link</a>
    <a class="c-nav-menu__link">Link</a>
  </div>
</nav>