<header
  class="c-navbar"
>
  <div class="c-navbar__inner">
    <a class="c-navbar__branding">
      <img src="images/logo-text.svg">
    </a>

    {% include '../../assets/icons/menu-alt.svg' %}
  </div>
</header>