<header
  class="c-navbar"
>
  <div class="c-navbar__inner">
    <a class="c-navbar__branding">
      <img src="/images/logo-text.svg">
    </a>

    <a class="c-navbar__menu-button">
      {% include '../../assets/icons/menu.svg' %}
    </a>
  </div>
</header>