//
// section title
//

.c-section-title {
  font-size: 10vw;
  font-weight: var(--font-weight-semibold);
  padding-bottom: 20vh;
  padding-top: 20vh;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-eerie-black);
}

@media (min-width: 320px) {
  .c-section-title {
    font-size: 8vw;
  }
}

@media (min-width: 768px) {
  .c-section-title {
    font-size: 6vw;
  }
}
