//
// button
//

.c-button {
  background-color: white;
  border: solid 1px var(--color-opaque-dark-subtle);
  border-radius: 5rem;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-mono);
  font-size: var(--font-size-mono-normal);
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .9em;
  position: relative;
  text-decoration: none;
  transition: all .4s;
}

.c-button:hover {
  background-color: var(--color-eerie-black);
  border-color: var(--color-eerie-black);
  color: white !important;
}

.c-button::selection {
  background-color: transparent;
}

.c-button--large {
  font-size: var(--font-size-normal);
}

.c-button--small {
  font-size: var(--font-size-mono-small);
}
