//
// cursor
//

.c-cursor {
	display: none;
}

@media (any-pointer: fine) {

	.c-cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}

	.c-cursor__inner {
		fill: transparent;
		stroke: var(--color-dark-gray);
		stroke-width: var(--cursor-stroke-width);
	}

}