//
// footer
//

.c-footer {
  background: var(--color-eerie-black);
  color: white;
  margin-top: 40vh;
  overflow-x: hidden;
  width: 100%;
}

.c-footer__inner {
  box-sizing: border-box;
  padding-bottom: 10vh;
  padding-left: 6.21vw;
  padding-right: 6.21vw;
  padding-top: 10vh;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.c-footer__contact {
  display: grid;
  margin: 0;
  padding-bottom: 12vh;
  padding-top: 12vh;
}

.c-footer__contact a,
.c-footer__contact span {
  padding-left: 10.46vw;
  padding-right: 10.46vw;
}

.c-footer__lower {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-top: 2vh;
}

.c-footer__logo {
  width: 45px;
}

.c-footer__nav {
  display: grid;
  gap: var(--spacing-4);
  grid-auto-flow: column;
}

.c-footer__nav-link {
  text-decoration: none;
}

.c-footer__nav-link.active {
  text-decoration: underline;
}

.c-footer__social {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.c-footer__social img {
  height: 20px;
  width: 20px;
}

.c-footer canvas {
  opacity: 0.5;
}
