//
// form
//

.c-form {
  align-content: start;
  display: block;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-width);
  min-height: 50vh;
  padding-bottom: calc(10vh + 7.5vw);
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  padding-top: calc(10vh + 7.5vw);
  position: relative;
}

.c-form__line-field,
.c-form__field {
  font-family: var(--font-normal);
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-normal);
  margin-bottom: 1.75em;
  position: relative;
  transition-duration: 0.8s;
  width: 100%;
}

.c-form__line-field::after {
  background-image: url('/images/wave-line.svg');
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: 300% 100%;
  content: '';
  display: block;
  height: 100%;
  margin-top: 0;
  opacity: .25;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-duration: 0.0s;
  width: 100%;
  will-change: opacity, background-position;
}

.c-form__line-field[data-filled=true]::after,
.c-form__line-field[data-focus=true]::after {
  transition-duration: 1.0s;
}

.c-form__line-field[data-focus=true]::after {
  opacity: 1;
}

.c-form__line-field[data-filled=true]::after {
  background-position: 0% bottom;
}

.c-form input,
.c-form textarea,
.c-form__grow-wrap::after {
  background-color: transparent;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
  padding-bottom: .6em;
  padding-top: .6em;
  transition-duration: 1.6s;
  width: 100%;
}

.c-form input,
.c-form textarea {
  outline: none;
  width: 100%;
}

.c-form [data-filled=true] input,
.c-form [data-filled=true] textarea,
.c-form [data-focus=true] input,
.c-form [data-focus=true] textarea{
  outline: none;
}

.c-form__line-field label,
.c-form__heading {
  font-family: var(--font-mono);
  font-size: var(--font-size-large-1);
}

.c-form__line-field label {
  display: block;
  line-height: 1.5;
  opacity: .25;
  pointer-events: none;
  position: absolute;
  top: calc(.6em);
  transform-origin: top left;
  transition-duration: 0.4s ;
  transition-delay: .2s;
  will-change: transform, opacity;
}

.c-form__heading {
  margin-bottom: var(--spacing-7);
  margin-top: var(--spacing-9);
}

.c-form [data-filled=true] label {
  opacity: 1;
  transform: scale(.6) translateY(-2em);
}

.c-form__grow-wrap {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
}

.c-form__grow-wrap::after {
  content: attr(data-replicated-value) " ";
  visibility: hidden;
}

.c-form__grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.c-form__grow-wrap > textarea,
.c-form__grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
  white-space: pre-wrap;
}
