//
// form
//

.c-form {
  align-content: start;
  display: grid;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-width);
  min-height: 50vh;
  padding-bottom: calc(10vh + 7.5vw);
  padding-left: 6.2vw;
  padding-right: 6.2vw;
  padding-top: calc(10vh + 7.5vw);
}

.c-form input,
.c-form textarea,
.c-form__grow-wrap::after {
  background-image: url('/images/wave-line.svg');
  background-position: left bottom;
  background-size: 300% 100%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: var(--font-normal);
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-normal);
  margin-bottom: 2em;
  opacity: 0.8;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
}

.c-form input:focus,
.c-form textarea:focus {
  background-position: right bottom;
  outline: none;
  opacity: 1;
  transition: all 0.8s;
  width: 100%;
}

.c-form ::placeholder {
  color: var(--color-dark-gray);
}

.c-form__grow-wrap {
  display: grid;
  width: 100%;
}

.c-form__grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.c-form__grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.c-form__grow-wrap > textarea,
.c-form__grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}
