//
// line
//

.c-line {
  border-bottom: solid 1px var(--color-platinum);
  grid-column: 1 / span 2;
  grid-template-columns: calc(
    100% - (var(--spacing-2)) * 2
  );
  margin-bottom: var(--spacing-4);
  padding-bottom: var(--spacing-2);
  padding-top: var(--spacing-2);
}

@media (min-width: 320px) {
  .c-line {
    grid-column: 2 / span 8;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .c-line {
    grid-column: 2 / span 14;
  }
}

.c-line--spaced {
  margin-left: 6.2vw;
  margin-right: 6.2vw;
}

.c-line--opaque {
  opacity: 0.5;
}

.c-line--light {
  border-bottom: solid 1px var(--color-opaque-light);
}
