//
// nav menu
//

.c-nav-menu__animation {
  height: 100%;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.c-nav-menu__inner {
  align-content: center;
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .8s;
  width: 100%;
  will-change: opacity;
  z-index: 9;
}

.c-nav-menu.is-active .c-nav-menu__inner {
  opacity: 1;
  pointer-events: all;
}

.c-nav-menu__background {
  background-color: white;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-nav-menu__nav {
  display: grid;
}

.c-nav-menu__nav-link {
  position: relative;
  text-decoration: none;
}
