//
// post list
//

.c-post-body {
  list-style-type: none;
  padding-left: calc(var(--spacing-4) + 5vw);
  padding-right: calc(var(--spacing-4) + 5vw);
}

.c-post-body p {
  margin-bottom: var(--spacing-4);
}
