{% extends './base.njk' %}

{% block content %}

  <header class="c-page-header">
    <h1 class="c-page-header__title u-heading-small u-heading-lighter">
      {{title}}
    </h1>
    <h2 class="c-page-header__subtitle u-heading-huge u-heading-lighter">
      {{subtitle}}
    </h2>
  </header>

  {{ content | safe }}

{% endblock %}

{% if js %}
  <script>
    {{ js | jsmin | safe }}
  </script>
{% endif %}
