{% block head %}
  <link rel="stylesheet" href='/stylesheets/home.css'>
{% endblock %}

{% extends './base.njk' %}


{% block preContent %}

  {% include 'intro.njk' %}

{% endblock %}



{{ content | safe }}

  {% if js %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  {% endif %}
