{% extends './base.njk' %}

{% block head %}

  <link rel="stylesheet" href='/stylesheets/home.css'>

{% endblock %}

{% block preContent %}

  {% include 'intro.njk' %}

{% endblock %}


{% block content %}

  {{ content | safe }}

  {% include 'contact-fab.njk' %}

{% endblock %}

{% if js %}

  <script>
    {{ js | jsmin | safe }}
  </script>

{% endif %}
