---
layout: home.njk
---

<div id="#c-hero" class="o-gc-grid">
  <h1 class="c-tagline u-bg-blur-primary-1 u-heading-large">
    <span>bespoke</span>
    <span>
      <span>digitial design</span>
      <span class="u-dash-line"></span>
    </span>
    <span>agency</span>
  </h1>

  <div class="c-rings">
    <div id="c-rings__inner">
    </div>
  </div>

  <h2 class="c-cta">
    leading digital agency with solid design and
    development expertise. we build readymade websites,
    mobile applications, and elaborate online business
    services.
  </h2>
</div>


<div class="o-gc-grid o-gc-grid--columns">
  <div class="c-line-title c-line-title--inverse">
    services
  </div>
  <div
    class="
      c-scrolling-tags
      c-scrolling-tags--right
      u-heading-huge-fluid
      js-scrolling-tags
    "
  >
    <div class="c-scrolling-tags__inner">
      <span class="u-text-outline">
        media
      </span>
      <span class="u-text-outline">
        interaction
      </span>
      <span>
        ui + visual
      </span>
      <span>
        identity
      </span>
    </div>
  </div>

  <div
    class="c-scrolling-tags u-heading-huge-fluid js-scrolling-tags"
  >
    <div class="c-scrolling-tags__inner">
      <span>
        web design
      </span>
      <span class="u-text-outline">
        multimedia
      </span>
      <span class="u-text-outline">
        graphic
      </span>
      <span class="u-text-outline">
        motion
      </span>
    </div>
  </div>

  <div class="c-line">
  </div>

  <div class="c-labeled-text">

    <div class="c-labeled-text__label">
      title
    </div>

    <div class="c-labeled-text__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>

</div>

<div class="c-curves">
  <div id="c-curves__inner">
  </div>
</div>

<section class="c-work u-z-index-2">
  <div class="c-section-title">
    selected work
  </div>

  <div
    class="c-fluid-reveal"
    data-scroll data-scroll-id="reveal"
  >

    <div class="c-fluid-reveal__inner">

      <div class="c-fluid-reveal__item">
        <svg class="c-fluid-reveal__item-media" viewBox="0 0 800 1000">
          <image opacity="1" mask="url('#mask-1')" preserveAspectRatio="xMidYMid slice" href="images/work-1-cover.png" height="100%" width="100%" />

          <mask id="mask-1">
            <path id="wobble-1" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
          </mask>
        </svg>
        <div class="c-fluid-reveal__content">
          <h3 class="u-heading-large">
          Content
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="c-fluid-reveal__item">
        <svg class="c-fluid-reveal__item-media" viewBox="0 0 800 1000">
          <image opacity="1" mask="url('#mask-2')" preserveAspectRatio="xMidYMid slice" href="images/work-2-cover.png" height="100%" width="100%" />

          <mask id="mask-2">
            <path id="wobble-2" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
          </mask>
        </svg>
        <div class="c-fluid-reveal__content">
          <h3 class="u-heading-large">
          Content
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="c-fluid-reveal__item">
        <svg class="c-fluid-reveal__item-media" viewBox="0 0 800 1000">
          <image opacity="1" mask="url('#mask-3')" preserveAspectRatio="xMidYMid slice" href="images/work-3-cover.png" height="100%" width="100%" />

          <mask id="mask-3">
            <path id="wobble-3" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206
                                                        S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
          </mask>
        </svg>
        <div class="c-fluid-reveal__content">
          <h3 class="u-heading-large">
          Content
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

    </div>

  </div>

</section>


<section class="c-news">
  <div class="c-section-title">
    latest news
  </div>
  <ul class="c-post-list">
    <li class="c-post-list__item">
      <a class="c-post-list__item-date">
        June 23, 2022
      </a>

      <a class="c-post-list__item-preview">
        <h4 class="c-post-list__item-title u-heading-small">
          Post Title
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </a>

    </li>
    <li class="c-post-list__item">
      <a class="c-post-list__item-date">
        June 23, 2022
      </a>

      <a class="c-post-list__item-preview">
        <h4 class="c-post-list__item-title u-heading-small">
          Post Title
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </a>

    </li>
    <li class="c-post-list__item">
      <a class="c-post-list__item-date">
        June 23, 2022
      </a>

      <a class="c-post-list__item-preview">
        <h4 class="c-post-list__item-title u-heading-small">
          Post Title
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </a>

    </li>
  </ul>
</section>

<script>
</script>
