---
layout: base.njk
eleventyNavigation:
  key: work
---

<div class="c-section-title">
  our work
</div>
<div class="o-container">
  <div class="c-offset-columns">
    <div class="c-offset-columns__column">
      <a
        class="c-offset-columns__item"
        href="/work/fitbux"
      >
        <img src="/images/work-1-cover.png">
      </a>
    </div>
  </div>
</div>