---
layout: base.njk
eleventyNavigation:
  key: work
---
  <div class="c-section-title">
    our work
  </div>
  <div class="c-container">
    <div class="c-offset-columns">
      <div class="c-offset-columns__column">
        <div class="c-offset-columns__item">
          <img src="/images/work-1-cover.png">
        </div>
      </div>
    </div>
  </div>