//
// page header
//

.c-page-header {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: calc(5rem + 10vh);
  padding-top: calc(5rem + 10vh);
  width: 70%;
}

.c-page-header__title,
.c-page-header__subtitle {
  margin-bottom: 0;
  margin-top: 0;
}
