//
// cta
//


.c-cta {
  display: grid;
  font-size: inherit;
  font-weight: 400;
  grid-column: 1/ span 2;
  grid-row: 6/span 2;
  grid-template-columns: calc(
    100% - (var(--spacing-2)) * 2
  );
  justify-content: center;
  margin: 0;
}

@media (min-width: 320px) {
  .c-cta {
    font-size: var(--font-size-normal);
    grid-column: 5/ span 7;
    grid-row: 7 / span 2;
  }
}

@media (min-width: 480px) {
  .c-cta {
    grid-column: 3/ span 6;
    grid-row: 6 / span 2;
    padding-top: var(--spacing-4);
  }
}

@media (min-width: 768px) {
  .c-cta {
    grid-column: 6/ span 6;
    grid-row: 7 / span 2;
    padding-top: var(--spacing-5);
  }
}
