//
// backgrounds
//

.u-bg-main {
  background-color: var(--color-main-background);
}

.u-bg-blur-primary-1 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-primary-circle-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.u-bg-blur-primary-2 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-primary-circle-2.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-bg-blur-primary-3 {
  background-image: url(/images/bg-blur-primary-circle-2.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-bg-blur-multi-1 {
  background-image: url(/images/bg-blur-multi-1.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
