//
// backgrounds
//

.u-bg-main {
  background-color: var(--color-main-background);
}


.u-bg-main-shade-1 {
  background-color: var(--color-main-background-shade-1);
}


.u-bg-blur-primary-1 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-primary-circle-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.u-bg-blur-primary-2 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-primary-circle-2.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-bg-blur-primary-3 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-primary-circle-2.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-bg-blur-multi-1 {
  background-color: var(--color-main-background);
  background-image: url(/images/bg-blur-multi-1.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-gradient-fade-lower {
  position: relative;

}

.u-gradient-fade-lower:after {
  background-image: linear-gradient(0deg, var(--color-main-background), transparent);
  bottom: 0;
  content: '';
  height: 6rem;
  position: absolute;
  width: 100%;
}
