//
// headings
//

.u-heading-small {
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-semibold);
}


.u-heading-medium {
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-large-1);
}

.u-heading-large {
  font-size: var(--font-size-large-5);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-large-1);
}d

.u-heading-huge,
.u-heading-huge p {
  line-height: 1.15;
}

.u-heading-huge {
  font-size: var(--font-size-display-0);
  font-weight: var(--font-weight-normal);
}

.u-heading-huge,
.u-heading-huge p {
  line-height: 1.2;
  margin: 0;
}

.u-heading-lighter {
  font-weight: var(--font-weight-normal);
}

.u-heading-image-inline {
  background-blend-mode: multiply;
  background-color: var(--color-main-background);
  background-size: contain;
  height: 2em;
  mix-blend-mode: multiply;
  vertical-align: middle;
  width: 2em;
}