//
// margin
//

@for $i from 1 through 9 {

  .u-margin-#{$i}-vertical {
    margin-bottom: var(--spacing-#{$i});
    margin-top: var(--spacing-#{$i});
  }

  .u-margin-#{$i}-top {
    margin-top: var(--spacing-#{$i});
  }

  .u-margin-#{$i}-bottom {
    margin-bottom: var(--spacing-#{$i});
  }

}


.u-margin-10vh-bottom {
  margin-bottom: 10vh;
}

.u-margin-20vh-bottom {
  margin-bottom: 20vh;
}
