//
// margin
//


.u-margin-0-bottom {
  margin-bottom: 0;
}
.u-margin-0-top {
  margin-top: 0;
}
.u-margin-0-vertical {
  margin-bottom: 0;
  margin-top: 0;
}

@for $i from 1 through 9 {

  .u-margin-#{$i}-vertical {
    margin-bottom: var(--spacing-#{$i});
    margin-top: var(--spacing-#{$i});
  }
  .u-margin-#{$i}-top {
    margin-top: var(--spacing-#{$i});
  }
  .u-margin-#{$i}-bottom {
    margin-bottom: var(--spacing-#{$i});
  }
  .u-margin-#{$i}-left {
    margin-left: var(--spacing-#{$i});
  }
  .u-margin-#{$i}-right {
    margin-right: var(--spacing-#{$i});
  }

}

.u-margin-10vh-bottom {
  margin-bottom: 10vh;
}
.u-margin-10vh-top {
  margin-top: 10vh;
}
.u-margin-10vh-vertical {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.u-margin-20vh-bottom {
  margin-bottom: 20vh;
}
.u-margin-20vh-top {
  margin-top: 20vh;
}
.u-margin-20vh-vertical {
  margin-bottom: 20vh;
  margin-top: 20vh;
}

.u-margin-navbar-top {
  margin-top: 4.6875rem;
}
