//
// padding
//

.u-padding-grid-horizontal {
  padding-left: 6.2vw;
  padding-right: 6.2vw;
}


.u-padding-10vh-bottom {
  padding-bottom: 10vh;
}
.u-padding-10vh-top {
  padding-top: 10vh;
}
.u-padding-10vh-vertical {
  padding-bottom: 10vh;
  padding-top: 10vh;
}
