//
// text
//


// large

.u-text-large-1 {
  font-size: var(--font-size-large-1);
}


// align

.u-text-align-center {
  text-align: center;
}

.u-text-align-right {
  text-align: right;
}

.u-text-align-left {
  text-align: left;
}


// style

.u-text-outline {
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}

.u-text-label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.u-text-decoration-none {
  text-decoration: none;
}

.u-text-indent {
  text-indent: 5em;
}
