---
layout: case-study.njk
title: 'fitbux'
subtitle: 'tracking your financial roadmap'
---

{% fullWidthImage "fitbux screenshots" %}
  /images/work-1a.png
{% endfullWidthImage %}

{% labeledText "the problem" %}
  <p>Lorem Ipsum is simply dummy text of the printing and
  typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown
  printer took a galley of types and scrambled it to make a
  type specimen book.</p>
{% endlabeledText %}

{% fullWidthVideo "background-color:#6adcff" %}
  /videos/work-1c.mp4
{% endfullWidthVideo %}

{% labeledText "the problem" %}
  <p>Lorem Ipsum is simply dummy text of the printing and
  typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown
  printer took a galley of types and scrambled it to make a
  type specimen book.</p>
{% endlabeledText %}

{% spacedColumns "fitbux screenshots" %}
  <img
    src="/images/work-1f1.gif" alt="fitbux icon"
    class="js-parallax"
  >
  <img
    src="/images/work-1f2.gif" alt="fitbux icon"
    class="js-parallax"
  >
  <img
    src="/images/work-1f3.gif" alt="fitbux icon"
    class="js-parallax"
  >
{% endspacedColumns %}

{% offsetColumns "fitbux screenshots" %}
  <img src="/images/work-1d.gif" alt="fitbux icon">
  <img src="/images/work-1e.gif" alt="fitbux icon">
{% endoffsetColumns %}
