---
layout: case-study.njk
title: 'fitbux'
subtitle: 'tracking your financial roadmap'
---

{% fullWidthImage "fitbux screenshots" %}
  /images/work-1a.png
{% endfullWidthImage %}

{% labeledText "the problem" %}
  <p>Lorem Ipsum is simply dummy text of the printing and
  typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown
  printer took a galley of types and scrambled it to make a
  type specimen book.</p>
{% endlabeledText %}

{% fullWidthVideo "background-color:#6adcff" %}
  /videos/work-1c.mp4
{% endfullWidthVideo %}

{% offsetColumns "fitbux screenshots" %}
  /images/work-1a.png
{% endoffsetColumns %}