//
// base
//

@use './base/variables.scss';
@use './base/vendor.scss';
@use './base/base.scss';

@use './objects/container.scss';
@use './objects/golden-cannon-grid.scss';

@use './components/button.scss';
@use './components/contact-fab.scss';
@use './components/form.scss';
@use './components/background-image.scss';
@use './components/line.scss';
@use './components/line-title.scss';
@use './components/overlay.scss';
@use './components/toggle.scss';

@use './utilities/backgrounds.scss';
@use './utilities/borders.scss';
@use './utilities/color.scss';
@use './utilities/counter.scss';
@use './utilities/display.scss';
@use './utilities/glow.scss';
@use './utilities/headings.scss';
@use './utilities/hide.scss';
@use './utilities/link.scss';
@use './utilities/margin.scss';
@use './utilities/padding.scss';
@use './utilities/position.scss';
@use './utilities/sizing.scss';
@use './utilities/text.scss';
@use './utilities/transparency.scss';
@use './utilities/wrapper.scss';
@use './utilities/will-change.scss';
@use './utilities/z-index.scss';

@font-face {
  font-family: 'Sohne';
  font-weight: 400;
  src: url('/fonts/sohne-buch.woff2') format('woff2'),
       url('/fonts/sohne-buch.woff') format('woff'),
       url('/fonts/sohne-buch.eot') format('eot');
}
@font-face {
  font-family: 'Sohne';
  font-weight: 600;
  src: url('/fonts/sohne-halbfett.woff2') format('woff2'),
       url('/fonts/sohne-halbfett.woff') format('woff'),
       url('/fonts/sohne-halbfett.eot') format('eot');
}
@font-face {
  font-family: 'Sohne';
  font-weight: 700;
  src: url('/fonts/sohne-dreiviertelfett.woff2') format('woff2'),
       url('/fonts/sohne-dreiviertelfett.woff') format('woff'),
       url('/fonts/sohne-dreiviertelfett.eot') format('eot');
}

@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

