/*
 * main
 */

@font-face {
  font-family: 'Sohne';
  font-weight: 400;
  src: url('/fonts/sohne-buch.woff2') format('woff2'),
       url('/fonts/sohne-buch.woff') format('woff'),
       url('/fonts/sohne-buch.eot') format('eot');
}
@font-face {
  font-family: 'Sohne';
  font-weight: 600;
  src: url('/fonts/sohne-halbfett.woff2') format('woff2'),
       url('/fonts/sohne-halbfett.woff') format('woff'),
       url('/fonts/sohne-halbfett.eot') format('eot');
}
@font-face {
  font-family: 'Sohne';
  font-weight: 700;
  src: url('/fonts/sohne-dreiviertelfett.woff2') format('woff2'),
       url('/fonts/sohne-dreiviertelfett.woff') format('woff'),
       url('/fonts/sohne-dreiviertelfett.eot') format('eot');
}

:root {
  --spacing-1: .5rem;
  --spacing-2: .6875rem;
  --spacing-3: .875rem;
  --spacing-4: 1.1875rem;
  --spacing-5: 1.5625rem;
  --spacing-6: 2.0625rem;
  --spacing-7: 2.8125rem;
  --spacing-8: 3.75rem;
  --spacing-9: 5rem;

  --font-main: 'Sohne';
  --font-mono: 'Space Mono';
  --font-size-tiny: .625rem;
  --font-size-small: .875rem;
  --font-size-normal: 1.125rem;
  --font-size-large-1: 1.5rem;
  --font-size-large-2: 2rem;
  --font-size-large-3: 2.6875rem;
  --font-size-large-4: 3.5625rem;
  --font-size-large-5: 4.75rem;

  --line-height-tiny: 1.4;
  --line-height-small: 1.2;
  --line-height-small-spaced: 1.6;
  --line-height-normal: 1.4;
  --line-height-normal-spaced: 1.6;
  --line-hieght-large-1: 1.4;
  --line-height-large-2: 1.0;
  --line-height-large-3: 1.0;
  --line-height-large-4: 1.0;
  --line-height-large-5: 1.0;

  --heading-normal-spacing: 4%;
  --heading-large-spacing: 2%;

  --font-size-mono-small: .6875rem;
  --font-size-mono-normal: .875rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-green-sheen: rgba(114, 180, 174, 1);
  --color-green-sheen-shade-1: rgba(95, 150, 145, 1);
  --color-green-sheen-shade-2: rgba(76, 120, 116, 1);
  --color-green-sheen-tint-1: rgba(137, 192, 187, 1);
  --color-green-sheen-tint-2: rgba(161, 205, 201, 1);
  --color-timberwolf: rgba(218, 212, 208, 1);
  --color-timberwolf-shade-1: rgba(182, 177, 173, 1);
  --color-timberwolf-shade-2: rgba(145, 141, 139, 1);
  --color-timberwolf-tint-1: rgba(224, 219, 216, 1);
  --color-timberwolf-tint-2: rgba(230, 226, 224, 1);
  --color-eerie-black: rgba(20, 20, 20, 1);
  --color-platinum: #e7e7e7;
  --color-gray: rgba(204, 204, 204, 1);
  --color-dark-gray: rgba(170, 170, 170, 1);
  --color-opaque-light: rgba(231, 231, 231, 0.5);
  --color-opaque-dark: rgba(20, 20, 20, 0.5);
  --color-opaque-dark-subtle: rgba(20, 20, 20, 0.25);
}

:root {
  font-family: 'Sohne', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.4;
  overflow-y: scroll;
}

body {
  font-size: var(--font-size-normal);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: block;
  height: 100%;
}

a {
  cursor: pointer;
}



/ * backgrounds */

.u-bg-blur-primary-1 {
  background-image: url(/images/bg-blur-primary-circle-1.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 40% 100%;
}



/* text */

.u-heading-large {
  font-size:
      calc(var(--font-size-large-4) * .5);
  font-weight: var(--font-weight-normal);
}

@media (min-width: 320px) {

  .u-heading-large {
    font-size: var(--font-size-large-2);
    font-weight: var(--font-weight-normal);
  }
}

@media (min-width: 768px) {

  .u-heading-large {
    font-size: var(--font-size-large-3);
    font-weight: var(--font-weight-normal);
  }
}


/* utilities - line */

.u-dash-line {
  align-content: center;
  display: grid;
  grid-template-rows: 1px;
}

.u-dash-line:after {
  content: '';
  background: var(--color-opaque-dark);
}


/* utilities - hide */


@media (max-width: 320px) {
  .u-hide-mobile-down {
    display: none  !important;
  }
}
@media (max-width: 768px) {
  .u-hide-tablet-down {
    display: none  !important;
  }
}
