<% locals.title = 'mainello - design agency' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="mainello - leading digital agency with solid design and
    development expertise. we build readymade websites,
    mobile applications, and elaborate online business
    services." />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <title>
      <% if (locals.title) { %>
        <%= title -%>
      <% } else { %>'mainello - design agency'<% } %>
    </title>
  </head>
  <body data-barba="wrapper">

    <%- include('../../templates/nav-menu.ejs', {navPages: navPages}); %>
    <%- include('../../templates/navbar.ejs'); %>

    <main data-barba="container">

      <div class="c-full-width-image js-parallax">
        <img src="/images/work-1a.png" alt="fitbux screenshots">
      </div>

      <div class="o-container js-parallax">
        <div class="c-labeled-text c-labeled-text--spacing-large">
          <div class="c-labeled-text__label">
            the problem
          </div>
          <div class="c-labeled-text__text">

            <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of types and scrambled it to make a
            type specimen book.</p>

          </div>
        </div>
      </div>

      <div class="c-full-width-video js-parallax" style=background-color:#6adcff>
        <video class="js-play-in-view">
          <source
            src="/videos/work-1c.mp4"
            type="video/mp4"
          >
        </video>
      </div>

      <div class="o-container js-parallax">
        <div class="c-labeled-text c-labeled-text--spacing-large">
          <div class="c-labeled-text__label">
            the problem
          </div>
          <div class="c-labeled-text__text">

            <p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of types and scrambled it to make a
            type specimen book.</p>

          </div>
        </div>
      </div>

      <div class="c-spaced-columns">
        <img
          src="/images/work-1f1.gif" alt="fitbux icon"
          class="js-parallax"
        >
        <img
          src="/images/work-1f2.gif" alt="fitbux icon"
          class="js-parallax"
        >
        <img
          src="/images/work-1f3.gif" alt="fitbux icon"
          class="js-parallax"
        >
      </div>

      <div class="c-offset-columns">
        <img src="/images/work-1d.gif" alt="fitbux icon">
        <img src="/images/work-1e.gif" alt="fitbux icon">
      </div>

    </main>

    <noscript>You need to enable JavaScript to run this app.</noscript>

    <script src="/scripts/vendor/ScrollTrigger.min.js"></script>
    <script type="module" src="/scripts/app.js"></script>

  </body>
</html>
