//
// base
//

:root {
  font-family: 'Sohne', sans-serif;
  font-size: 16px;
  height: 100%;
  overflow-y: scroll;
}

body {
  font-size: calc(var(--font-size-normal) * .7);
  height: 100%;
  line-height: var(--line-height-normal);
  margin: 0;
  padding: 0;
  transition: .4s;
  width: 100%;
}

@media (min-width: 320px) {

  body {
    font-size: var(--font-size-normal);
  }

}

main {
  display: block;
  min-height: 100%;
  // overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  cursor: pointer;
}

p {
  line-height: var(--line-height-normal-spaced);
  margin-bottom: 1.4em;
  margin-top: 0;
}

strong {
  font-weight: 600;
}

small {
  font-size: var(--line-height-tiny);
}

img {
  height: auto;
  width: 100%;
}
