//
// variables
//

:root {

  --wrapper-width: 1020px;

  --spacing-1: .5rem;
  --spacing-2: .6875rem;
  --spacing-3: .875rem;
  --spacing-4: 1.1875rem;
  --spacing-5: 1.5625rem;
  --spacing-6: 2.0625rem;
  --spacing-7: 2.8125rem;
  --spacing-8: 3.75rem;
  --spacing-9: 5rem;

  --font-main: 'Sohne';
  --font-mono: 'Space Mono';

  --font-size-tiny:    0.55rem;
  --font-size-smaller: 0.625rem;
  --font-size-small:   0.7rem;
  --font-size-normal:  0.8rem;
  --font-size-large-1: 0.9rem;
  --font-size-large-2: 1rem;
  --font-size-large-3: 1.125rem;
  --font-size-large-4: 1.25rem;;
  --font-size-large-5: 1.4rem;
  --font-size-large-6: 1.6rem;
  --font-size-large-7: 1.8rem;
  --font-size-large-8: 2.0rem;

  @media (min-width: 320px) {
    --font-size-tiny:    0.6rem;
    --font-size-smaller: 0.7rem;
    --font-size-small:   0.8rem;
    --font-size-normal:  0.9rem;
    --font-size-large-1: 1rem;
    --font-size-large-2: 1.125rem;
    --font-size-large-3: 1.25rem;;
    --font-size-large-4: 1.4rem;
    --font-size-large-5: 1.6rem;
    --font-size-large-6: 1.8rem;
    --font-size-large-7: 2.0rem;
    --font-size-large-8: 2.3rem;
  }

  @media (min-width: 480px) {
    --font-size-tiny:    0.7rem;
    --font-size-smaller: 0.8rem;
    --font-size-small:   0.9rem;
    --font-size-normal:  1rem;
    --font-size-large-1: 1.125rem;
    --font-size-large-2: 1.25rem;;
    --font-size-large-3: 1.4rem;
    --font-size-large-4: 1.6rem;
    --font-size-large-5: 1.8rem;
    --font-size-large-6: 2.0rem;
    --font-size-large-7: 2.3rem;
    --font-size-large-8: 2.55rem;
  }

  @media (min-width: 768px) {
    --font-size-tiny:    0.8rem;
    --font-size-smaller: 0.9rem;
    --font-size-small:   1rem;
    --font-size-normal:  1.125rem;
    --font-size-large-1: 1.25rem;
    --font-size-large-2: 1.4rem;
    --font-size-large-3: 1.6rem;
    --font-size-large-4: 1.8rem;
    --font-size-large-5: 2.0rem;
    --font-size-large-6: 2.3rem;
    --font-size-large-7: 2.55rem;
    --font-size-large-8: 2.9rem;
  }

  @media (min-width: 1080px) {
    --font-size-tiny:    0.8rem;
    --font-size-smaller: 1rem;
    --font-size-small:   1.125rem;
    --font-size-normal:  1.25rem;
    --font-size-large-1: 1.4rem;
    --font-size-large-2: 1.6rem;
    --font-size-large-3: 1.8rem;
    --font-size-large-4: 2.0rem;
    --font-size-large-5: 2.3rem;
    --font-size-large-6: 2.55rem;
    --font-size-large-7: 2.9rem;
  }


  --font-size-mono-small: calc(
    var(--font-size-normal) * 0.7
  );
  --font-size-mono-normal: calc(
    var(--font-size-normal) * 0.85
  );


  --line-height-tiny: 1.4;
  --line-height-small: 1.2;
  --line-height-small-spaced: 1.6;
  --line-height-normal: 1.4;
  --line-height-normal-spaced: 1.6;
  --line-hieght-large-1: 1.4;
  --line-height-large-2: 1.15;
  --line-height-large-3: 1.15;
  --line-height-large-4: 1.15;
  --line-height-large-5: 1.15;

  --heading-normal-spacing: .04em;
  --heading-large-spacing: .02em;

  --title-normal-spacing: .02em;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-green-sheen: rgba(114, 180, 174, 1);
  --color-green-sheen-shade-1: rgba(95, 150, 145, 1);
  --color-green-sheen-shade-2: rgba(76, 120, 116, 1);
  --color-green-sheen-tint-1: rgba(137, 192, 187, 1);
  --color-green-sheen-tint-2: rgba(161, 205, 201, 1);
  --color-timberwolf: rgba(218, 212, 208, 1);
  --color-timberwolf-shade-1: rgba(182, 177, 173, 1);
  --color-timberwolf-shade-2: rgba(145, 141, 139, 1);
  --color-timberwolf-tint-1: rgba(224, 219, 216, 1);
  --color-timberwolf-tint-2: rgba(230, 226, 224, 1);
  --color-eerie-black: rgba(20, 20, 20, 1);
  --color-platinum: #e7e7e7;
  --color-gray: rgba(204, 204, 204, 1);
  --color-dark-gray: rgba(170, 170, 170, 1);
  --color-darker-gray: rgba(120, 120, 120, 1);
  --color-opaque-light: rgba(231, 231, 231, 0.3);
  --color-opaque-light-subtle: rgba(231, 231, 231, 0.15);
  --color-opaque-dark: rgba(20, 20, 20, 0.3);
  --color-opaque-dark-subtle: rgba(20, 20, 20, 0.15);
}
