//
// variables
//

:root {

  --wrapper-width: 1280px;

  --spacing-1: .5rem;
  --spacing-2: .6875rem;
  --spacing-3: .875rem;
  --spacing-4: 1.1875rem;
  --spacing-5: 1.5625rem;
  --spacing-6: 2.0625rem;
  --spacing-7: 2.8125rem;
  --spacing-8: 3.75rem;
  --spacing-9: 5rem;

  --font-main: 'Sohne';
  --font-mono: 'Trispace';

  --fluid-min-width: 320;
  --fluid-max-width: 1080;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );


  @media (min-width: 1080px) {

    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }

  }


  --f--2-min: 9.72;
  --f--2-max: 11.52;
  --font-size-smaller: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 11.67;
  --f--1-max: 14.40;
  --font-size-small: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 14.00;
  --f-0-max: 18.00;
  --font-size-normal: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 16.80;
  --f-1-max: 22.50;
  --font-size-large-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 20.16;
  --f-2-max: 28.13;
  --font-size-large-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 24.19;
  --f-3-max: 35.16;
  --font-size-large-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 29.03;
  --f-4-max: 43.95;
  --font-size-large-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 34.84;
  --f-5-max: 54.93;
  --font-size-large-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  --f-6-min: 41.80;
  --f-6-max: 68.66;
  --font-size-large-6: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );

  --f-7-min: 50.16;
  --f-7-max: 85.83;
  --font-size-display-0: calc(
    ((var(--f-7-min) / 16) * 1rem) + (var(--f-7-max) - var(--f-7-min)) *
      var(--fluid-bp)
  );

  --f-8-min: 60.20;
  --f-8-max: 107.29;
  --font-size-display-1: calc(
    ((var(--f-8-min) / 16) * 1rem) + (var(--f-8-max) - var(--f-8-min)) *
      var(--fluid-bp)
  );



  --font-size-mono-small: calc(
    var(--font-size-normal) * 0.7
  );
  --font-size-mono-normal: calc(
    var(--font-size-normal) * 0.85
  );


  --line-height-smaller: 1.4;
  --line-height-small: 1.4;
  --line-height-small-spaced: 1.6;
  --line-height-normal: 1.4;
  --line-height-normal-spaced: 1.6;
  --line-hieght-large-1: 1.4;
  --line-height-large-2: 1.2;
  --line-height-large-3: 1.2;
  --line-height-large-4: 1.2;
  --line-height-large-5: 1.2;
  --line-height-large-6: 1.1;
  --line-height-display-0: 1.1;
  --line-height-display-1: 1.1;

  --heading-normal-spacing: .04em;
  --heading-large-spacing: .02em;

  --title-normal-spacing: .02em;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-accent: rgba(94, 124, 226, 1);
  --color-accent-tint-1: rgba(126, 159, 232, 1);
  --color-accent-tint-2: rgba(158, 190, 238, 1);

  --color-primary: rgba(114, 180, 174, 1);
  --color-primary-tint-1: rgba(147, 202, 193, 1);
  --color-primary-tint-2: rgba(181, 221, 211, 1);

  --color-warm: rgba(212, 197, 199, 1);
  --color-warm-tint-1: rgba(229, 220, 221, 1);
  --color-warm-tint-2: rgba(246, 243, 244, 1);

  --color-green-sheen: rgba(114, 180, 174, 1);
  --color-green-sheen-shade-1: rgba(95, 150, 145, 1);
  --color-green-sheen-shade-2: rgba(76, 120, 116, 1);
  --color-green-sheen-tint-1: rgba(137, 192, 187, 1);
  --color-green-sheen-tint-2: rgba(161, 205, 201, 1);
  --color-timberwolf: rgba(218, 212, 208, 1);
  --color-timberwolf-shade-1: rgba(182, 177, 173, 1);
  --color-timberwolf-shade-2: rgba(145, 141, 139, 1);
  --color-timberwolf-tint-1: rgba(224, 219, 216, 1);
  --color-timberwolf-tint-2: rgba(230, 226, 224, 1);
  --color-eerie-black: rgba(20, 20, 20, 1);
  --color-platinum: rgba(231, 231, 231, 1);

  --color-gray: rgba(204, 204, 204, 1);
  --color-dark-gray: rgba(170, 170, 170, 1);
  --color-darker-gray: rgba(120, 120, 120, 1);

  --color-opaque-light: rgba(231, 231, 231, 0.5);
  --color-opaque-light-subtle: rgba(231, 231, 231, 0.15);
  --color-opaque-dark: rgba(20, 20, 20, 0.3);
  --color-opaque-dark-subtle: rgba(20, 20, 20, 0.15);

  --color-main-text: var(--color-eerie-black);
  --color-main-background: rgba(248, 249, 251, 1);
  --color-main-background-shade-1: rgba(242, 244, 248, 1);
  --color-main-background-shade-2: rgba(235, 238, 244, 1);
}

