<div
  class="c-nav-menu js-nav-menu"
>
  <div class="c-nav-menu__animation js-nav-menu-animation">
  </div>

  <div class="c-nav-menu__inner">
    <div class="c-nav-menu__background">
    </div>

    <nav class="c-nav-menu__nav">
      <% navPages.forEach(function(entry){ %>
        <a
          class="c-nav-menu__nav-link u-hide-tablet-down"
          href="<%- entry.url %>"
        >
          <%- entry.title %>
        </a>
      <% }); %>
    </nav>

  </div>
</div>
