<header
  class="c-navbar"
>
  <div class="c-navbar__inner">
    <a class="c-navbar__branding" href="/">
      <img src="/images/logo-text.svg">
    </a>
    <a class="c-navbar__menu-button js-navbar-button">
    </a>
  </div>
</header>