<% locals.postTitle = 'Post Heading 1' %> 
<% locals.postDate = 'June 23, 2022' %> 
<%- include('../../templates/post-before.ejs'); %> 
<p>This is a simple codeblock.
But it has a linebreak!</p>
<%- include('../../templates/post-after.ejs'); %> 
