<% locals.title = 'mainello - design agency' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="mainello - leading digital agency with solid design and
    development expertise. we build readymade websites,
    mobile applications, and elaborate online business
    services." />
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <title>
      <% if (locals.title) { %>
        <%= title -%>
      <% } else { %>'mainello - design agency'<% } %>
    </title>
  </head>
  <body data-barba="wrapper">

    <%- include('../templates/nav-menu.ejs', {navPages: navPages}); %>
    <%- include('../templates/navbar.ejs'); %>

    <main data-barba="container">

      <div class="c-section-title">
        our work
      </div>
      <div class="o-container">
        <div class="c-offset-columns">
          <div class="c-offset-columns__column">
            <a
              class="c-offset-columns__item"
              href="/work/fitbux"
            >
              <img src="/images/work-1-cover.png">
            </a>
          </div>
        </div>
      </div>

    </main>

    <%- include('../templates/footer.ejs'); %>

    <noscript>You need to enable JavaScript to run this app.</noscript>

    <script src="/scripts/vendor/ScrollTrigger.min.js"></script>
    <script type="module" src="/scripts/app.js"></script>

  </body>
</html>
