//
// backgrounds
//

.u-bg-blur-primary-1 {
  background-image: url(/images/bg-blur-primary-circle-1.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 40% 100%;
}
